<%- include("partials/headerNotHome"); -%>
  <!-- Page Header -->
  <header class="masthead" style='background-image: url("<%= picture %>")'>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading" data-post-role="title">
            <h1 style="color: aqua;"><%= title %></h1>
            <span class="meta" data-post-role="author">Posted by
              <a href="#"><%= author %></a>
              on <%= postDate %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" data-post-role="content">
          <p>
            <%= content %>
          </p>
          <div class="container row" style="display: flex; justify-content: center;">
    <a href="/posts/<%= postId %>/edit" class="btn btn-primary" style="margin: 30px" >Edit</a>
    <form action="/posts/<%= postId %>/?_method=DELETE" method="POST">
          <button class="btn btn-primary btn-lg" style="margin: 30px; background-color: red;">Delete</button>
    </form>
  </div>
        </div>
      </div>
    </div>
    
  </article>

  
  <%- include("partials/footerNotHome"); -%>
